*{
    margin:0;
    padding: 0;
    font-family:  Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    text-align: center;
    box-sizing: border-box;
    font-size: 13px;
}

h2{
    font-size: 18px;
}

h3{
    font-size: 16px;
}

/*Styling the navbar*/
#navbar{
    position: fixed;
    top: 0;
    overflow:hidden;
    background-color:#e6e8fa;
    width: 100%;
    padding-top: 5px;
}

.navbar-col{
    float: left;
    width: 40px;
}

#navbar a{
    text-decoration: none;
    color: white;
}

.md-lg-screen{
    display: none;
}

#login, #shop{
    float: right;
}

#logo-img{
    width: 48px;
}

.navIcon{
    width: 16px;
    padding-top: 15px;
}

/*Styling the banner*/
#banner{
    width: 100%;
    background-color:#FFFFFF;
    /*background-color: radial-gradient(#fff,#ffd6d6); gozukmuyor??*/
    height: auto;
    overflow: hidden;
    margin-top: 20px;
}

#banner-content-before{
    padding-top: 40px;
}

#banner-im1, .banner-im2{
    width: 100%;
}

#banner-content{
    color: black;
    margin: 15px;
    margin-top: 20px;
}

.exploreBtn {
    display: inline-block;
    background:#483d8b;
    padding: 8px 30px;
    margin: 10px 0;
    border-radius: 30px;
}

.exploreBtn a{
    text-decoration: none;
    color: #e6e6fa;
}

.exploreBtn:hover {
    background-color: #e6e6fa;
}

.exploreBtn a:hover{
    color: #483d8b;;
}

/*Styling the content*/
#content{
    width: 100%;
    margin-top: 10px;
}

#content-row-1{
    float: left;
    margin-top: 80px;
}

#content-header{
    margin: 40px 5px;
    background-color: #dcdcdc;
    padding: 50px;
}

#navigate{
    width: 60%;
    margin-left: 10px;
}

#navigate li{
    display: block;
    float: left;
}

#navigate ul{
    list-style-type: none;
}

#navigate ul a{
    text-decoration: none;
    color: #2F4F4F;
}

#navigate ul a:hover{
    text-decoration: underline;
    color: #808080;
}

#navigate ul a:active{
    text-decoration: underline;
    color: #000000;
}

#filter{
    float: right;
    margin-right: 10px;
    width: 15%;
}

#filter > a{
    float: right;
    text-decoration: none;
    color: black;
}

#filterIcn{
    width: 16px;
    float: left;
}

#content-part-2{
    clear: both;
}

#products{
    float: right;
    margin-top: 20px;
}

.products-col{
    width: 50%;
    float: left;
}

.product{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}

#products h2{
    font-size: 13px;
    text-align: left;
}

.product-im{
    width: 100%;
    padding: 5px 0px;
}

#content-sidebar{
    display: none;
}

/* Styling the footer*/
footer{
    clear: both;
    background-color: #dcdcdc;
    color: #000;
    width: 100%;
}

footer ul{
    list-style-type: none;
}

.footer-row{
    padding: 60px 20px;
}

.footer-col h3, .footer-col p{
    padding: 5px 0px;
    font-size: 16px;
}

footer a{
    text-decoration: none;
    color: #92000a;
}

footer .footer-info{
    margin: 10px 0px;
}

.footer-col{
    width: 100%;
    margin: 5px 0px;
}

footer #copyright{
    color: #E59866;
    font-size: 18px;
}

@media (min-width: 768px) and (max-width:1199px) {    

    h2{
        font-size: 18px;
    }
    
    h3{
        font-size: 16px;
    }

    #navbar{
        position: unset;
        padding: 20px 0px;
        margin-bottom: 0px;
    }

    .navbar-col{
        width: 128px;
    }

    .md-lg-screen{
        display: block;
    }

    #searchBtn{
        float: right;
    }

    #logo-img{
        width: 128px;
    }

    .navIcon{
        width: 48px;
        padding: 20px 5px;
    }

    /*Styling the banner*/
    #banner{
        margin-top: 0;
    }

    #banner-content-before{
        float: left;
        width: 50%;
        padding: 20px 10px 0px 10px;
    }
    
    #banner-content{
        float: left;
        width: 50%;
        margin: 100px 0px;
        padding: 0px 5px;
        position: relative;
        top: 100px;
    }
    
    #banner-content-after{
        clear: both;
    }

    #banner-content h2{
        font-size: 48px;
    }

    #banner-content p{
        font-size: 24px;
        padding: 15px 0px;
        margin: 5px 10px;
    }

    .banner-im2{
        width: 100%;
        padding: 15px 10px;
    }

    /*Styling the content*/
    #content{
        margin: 10px 10px;
    }

    #content-row-1{
        float: left;
        margin-top: 40px;
    }

    #content-header{
        margin: 20px 5px;
        background-color: #dcdcdc;
        padding: 100px;
        font-size: 18px;
    }
   
    #navigate{
        width: 60%;
        margin-left: 10px;
    }

    #navigate ul a{
        font-size: 18px;
    }

    #filter > a{
        font-size: 18px;
        float: left;
        padding-right: 5px;
    }

    #filterIcn{
        width: 24px;
    }

    #content-part-2{
        clear: both;
        width: 100%;
    }

    #content-sidebar{
        display: block;
        width: 20%;
        float: left;
        padding: 30px 5px;
    }

    #content-sidebar ul{
        list-style-type: none;
    }

    #content-sidebar a{
        text-decoration: none;
        font-size: 16px;
        float: left;
        padding: 10px;
    }
    
    #content-sidebar h2{
        font-size: 24px;
        text-align: left;
        padding: 10px;
    }
    
    #products{
        width: 80%;
        float: right;
        margin-top: 0;
    }

    .products-col{
        float: right;
        width: 40%;
        margin: 0px 10px 10px 10px;
    }
    
    #products h2, #products h3{
        font-size: 16px;
    }
    
    footer{
        font-size: 18px;
    }
    
    footer ul{
        list-style-type: none;
    }
    
    .footer-row{
        display: block;
    }

    .footer-col{
        width: 50%;
        float: left;
    }
    
    footer #copyright{
        margin: 40px 0px 20px 0px;
        clear: both;
        font-size: 24px;
    }
}

@media (min-width: 1200px){

    #navbar{
        position: unset;
        padding: 20px 0px;
    }

    .navbar-col{
        width: 12%;
        margin-top: 40px;
    }

    #logo{
        margin-top: 0;
    }

    .md-lg-screen{
        display: block;
        float: left;
        font-weight: bold;
        margin-left: 15px;
        padding-top: 15px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .md-screen{
        display: none;
    }

    #searchBtn{
        float: right;
    }

    #sidebar-icon{
        display: none;
    }

    #logo-img{
        width: 128px;
    }

    .navIcon{
        width: 32px;
        float: left;
    }

    /*Styling the banner*/
    #banner{
        padding: 40px 20px 40px 20px;
    }
    
    #banner-im1{
        width: 70%;
    }

    #banner-content-before{
        float: left;
        width: 50%;
    }
    
    #banner-content{
        float: left;
        width: 40%;
        margin: 200px 0px;
        position: relative;
        top: 100px;
    }
    
    #banner-content-after{
        clear: both;
        padding-top: 80px;
    }

    #banner-content h2{
        font-size: 32px;
    }

    #banner-content p{
        font-size: 16px;
    }

    .banner-im2{
        width: 33.3%;
        float: left;
        padding: 10px 0px 0px 10px;
    }

    /*Styling the content*/
    #content{
        margin: 10px 20px;
        overflow: hidden;
    }
    
    #navigate li{
        font-size: 18px;
    }

    #content-header{
        margin: 20px;
        margin-top: 0px;
        background-color: #dcdcdc;
        padding: 100px;
        font-size: 24px;
    }

    #content-row-1{
        float: left;
        margin-top: 40px;
    }
   
    #navigate{
        width: 60%;
    }

    #navigate ul a{
        font-size: 18px;
    }

    #filter > a{
        font-size: 18px;
        float: left;
        padding-right: 5px;
    }

    #filterIcn{
        width: 24px;
    }

    #content-part-2{
        clear: both;
        width: 100%;
    }

    #content-sidebar{
        display: block;
        width: 10%;
        float: left;
        padding: 20px 5px;
    }

    #content-sidebar ul{
        list-style-type: none;
        padding: 15px;
    }

    #content-sidebar a{
        text-decoration: none;
        font-size: 16px;
        float: left;
        padding: 5px 5px 5px 0px;
    }
    
    #content-sidebar h2{
        font-size: 24px;
        width: 100%;
    }
    
    #products{
        width: 80%;
        margin-right: 40px;
    }

    .products-col{
        float: right;
        width: 40%;
        margin: 10px;
    }
    
    #products h2, #products h3{
        font-size: 18px;
        padding-top: 10px;
    }
    
    footer{
        font-size: 16px;
        height: auto;
        overflow: hidden;
    }
    
    footer ul{
        list-style-type: none;
    }
    
    .footer-row{
        display: block;
    }

    .footer-col{
        width: 33.3%;
        float: left;
    }
    
    footer #copyright{
        margin-top: 40px;
        clear: both;
        font-size: 24px;
    }
}