@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body{
    padding-top: 90px;
}

#logo{
    width: 64px;
    float: left;
}

#category-btn{
    padding-top: 13.7px;
    border: none;
}

#category-btn:active{
    background-color: purple;
    border: none;
}

@media (max-width: 768px){
#icons{
    position: fixed;
    top: 5px;
    left: 100px;
}
}

#icon-bar-bottom{
    margin-bottom: 8px;
}
#navbar{
    background-color:#e6e8fa;
    height: auto;
    padding: 5px 20px 5px 0px;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
}

#nav-links{
    padding-top: 20px;
}

#nav-cat-links li a{
    text-decoration: none;
    color: #000000;
    background: none;
}

#nav-cat-links li a:hover{
    background: none;
    border-bottom: 1px solid #000000;
}

#nav-cat-links li .sep:hover{
    border: none;
}

#banner{
    margin: 0;
    padding: 0;
    margin-top: 50px;
}

#upper-part{
    margin: 0;
    padding: 0;
}

#banner .container{
    margin: 0;
    padding: 0;
    width: 100%;
}

#banner-im1{
    width: 100%;
    padding: 0;
    margin: 0;
}

#banner-content{
    color: black;
    padding: 80px 20px 80px 20px;
    display: block;
    text-align: center;
}

.exploreBtn{
    display: inline-block;
    text-decoration: none;
    color: #e6e6fa;
    background:#483d8b;
    padding: 8px 30px;
    margin: 20px 0;
    border-radius: 30px;
}

.exploreBtn:hover{
    background-color: #e6e6fa;
    color: #483d8b;
    text-decoration: none;
}

#lower-part .row{
    margin: 0;
}

#lower-part .row div{
    margin: 0 0 10px 0;
    padding: 0;
}

.banner-im2{
    width: 100%;
}

.banner-im2:hover{
    transform: translateY(-5px);
}
.banner-im2 {
    transition:transform 0.5s ;
}

#footer{
    border: none;
    margin-top: 100px;
    padding-top: 110px;
    padding-bottom: 110px;
    font-size: 0.9em;
}

#footer h3, #footer .text-center{
    font-weight: 600;
    font-size: 16px;
}

footer div.row{
    margin-bottom: 100px;
}

footer ul{
    list-style-type: none;
}

/*product filter*/
.row-2 {
    position:relative;
}

select {
    position: absolute;
    right: 10px;
}

/*Styling the content*/
#content{
    margin: 10px 0px;
}

#content-row-1{
    float: left;
    margin-top: 80px;
}

#content-header{
    background-color: #dcdcdc;
    padding: 50px;
    margin-bottom: 20px;
}

#navigate{
    width: 60%;
    margin-left: 10px;
}

#navigate li{
    display: block;
    float: left;
}

#navigate ul{
    list-style-type: none;
}

#navigate ul a{
    text-decoration: none;
    color: #2F4F4F;
}

#navigate ul a:hover{
    text-decoration: underline;
    color: #808080;
}

#navigate ul a:active{
    text-decoration: underline;
    color: #000000;
}

#filter{
    float: right;
    margin-right: 10px;
    width: 15%;
}

#filter > a{
    float: right;
    text-decoration: none;
    color: black;
}

#filterIcn{
    width: 16px;
    float: left;
}

#content-part-2{
    clear: both;
}

#products{
    float: right;
    margin-top: 20px;
}

.products-col{
    width: 50%;
    float: left;
}

.product{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
}

#products h2{
    font-size: 13px;
    text-align: left;
}

.product-im{
    width: 100%;
    padding: 5px 0px;
}

#content-sidebar{
    display: none;
}

@media (min-width: 768px){
    body{
        padding-top: 150px;
    }

#icons{
    font-size: 0.8em;
    margin-top: 20px;
    color: #000000;
}
    #logo{
        width: 96px;
    }
    
    #nav-cat-links{
        padding-left: 18em;
        padding-right: 20em;
    }
    #icons{
        float: right;
    }

    #banner-im1{
        padding: 20px;
    }

    #banner > .container{
        display: flex;
    }

    #banner .container{
        padding-left: 110px;
    }

    #banner-content{
        vertical-align: middle;
    }

    #lower-part{
        width: 100%;
        padding: 15px;
        margin-top: 100px;
    }

    #banner{
        margin-top: 50px;
    }

    #banner-header{
        margin-top: 400px;
    }

    #lower-part .row div{
        padding-right: 20px;
    }
}

@media (min-width: 768px) and (max-width:1199px) {    

    #nav-cat-links{
        padding-left: 12em;
        padding-right: 16em;
    }
    
    body { 
        padding-top: 220px; 
    }
    /*Styling the content*/
    #content-row-1{
        float: left;
    }

    #content-header{
        padding: 100px;
        font-size: 18px;
    }
   
    #navigate{
        width: 60%;
        margin-left: 10px;
    }

    #navigate ul a{
        font-size: 18px;
    }

    #filter > a{
        font-size: 18px;
        float: left;
        padding-right: 5px;
    }

    #filterIcn{
        width: 24px;
    }

    #content-part-2{
        clear: both;
        width: 100%;
    }

    #content-sidebar{
        display: block;
        width: 20%;
        float: left;
        padding: 30px 5px;
    }

    #content-sidebar ul{
        list-style-type: none;
        
    }

    #content-sidebar a{
        text-decoration: none;
        font-size: 16px;
        float: left;
        padding: 10px;
        
    }
    
    #content-sidebar h2{
        font-size: 24px;
        text-align: left;
        padding: 10px;
    }
    
    #products{
        width: 80%;
        float: right;
        margin-top: 0;
    }

    .products-col{
        float: right;
        width: 40%;
        margin: 0px 10px 10px 10px;
    }
    
    #products h2, #products h3{
        font-size: 16px;
    }
}

@media (min-width: 1200px){

    #nav-cat-links{
        padding-left: 18em;
        padding-right: 20em;
    }
    /*Styling the content*/
    #content{
        overflow: hidden;
    }
    
    #navigate li{
        font-size: 18px;
    }

    #content-header{
        margin-top: 0px;
        background-color: #dcdcdc;
        padding: 100px;
        font-size: 24px;
    }

    #content-row-1{
        float: left;
        margin-top: 40px;
    }
   
    #navigate{
        width: 60%;
    }

    #navigate ul a{
        font-size: 18px;
    }

    #filter > a{
        font-size: 18px;
        float: left;
        padding-right: 5px;
    }

    #filterIcn{
        width: 24px;
    }

    #content-part-2{
        clear: both;
        width: 100%;
    }

    #content-sidebar{
        display: block;
        width: 10%;
        float: left;
        padding: 20px 5px;
    }

    #content-sidebar ul{
        list-style-type: none;
        padding: 15px;
    }

    #content-sidebar a{
        text-decoration: none;
        font-size: 16px;
        float: left;
        padding: 5px 5px 5px 0px;
    }
    
    #content-sidebar h2{
        font-size: 24px;
        width: 100%;
    }
    
    #products{
        width: 80%;
        margin-right: 40px;
    }

    .products-col{
        float: right;
        width: 40%;
        margin: 10px;
    }
    
    #products h2, #products h3{
        font-size: 18px;
        padding-top: 10px;
    }
}